
$enable-shadows: true;
$enable-gradients: false;
$red: #D32F2F;
$primary: $red;
$gray-800: #263238;
$secondary: $gray-800;
$blue: rgb(0, 123, 255);
$info: $blue;
$green: rgb(7, 158, 40);
$gray-100: #fafafa;
$black: #000A12;
$dark: $black;
$input-btn-padding-y: 1rem;
$input-btn-padding-x: 2rem;
$input-btn-padding-y-lg: 1.5rem;
$input-btn-padding-x-lg: 3rem;
$input-btn-padding-y-sm: .5rem;
$input-btn-padding-x-sm: 1.1rem;
$jumbotron-padding: 4rem;
$light: $gray-100;
$jumbotron-bg: $light;
$card-spacer-y: 1.25rem;
$card-cap-bg: $light;
$tooltip-padding-y: 1rem;
$tooltip-padding-x: 1rem;
$badge-padding-x: .5em;
$badge-padding-y: .5em;
$btn-box-shadow: 0;
$font-weight-bold: 700;
$btn-font-weight: $font-weight-bold;
$font-family-sans-serif: 'Poppins',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
$font-family-serif: 'Abril Fatface', cursive, Georgia, "Times New Roman", Times, serif;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 4.1;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.125;
$font-family-base: $font-family-sans-serif;
$headings-font-family: $font-family-base;
$headings-color: $black;
// $display1-weight: $font-weight-bold;
// $display2-weight: $font-weight-bold;
// $display3-weight: $font-weight-bold;
// $display4-weight: $font-weight-bold;
$font-weight-normal: 400;
$lead-font-weight: $font-weight-normal;
$blockquote-font-size: ($font-size-base * 2.18);
$blockquote-small-color: $black;
$list-inline-padding: 1rem;
$close-font-weight: $font-weight-normal;